
.contenedorCarrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100 vh;
    max-width: 100vw;
}
.tarjetasCarrito{
    background-color: sandybrown;
    margin: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.tarjetasCarrito p{
    margin-left: 5px;
}
.tachoContent{
    display: flex;
    justify-content: end;
}
.eliminar{
    background-color: orange;
    border: none;
    margin-right: 2px;

    
}

.fas{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.61);
}

.carrito{
    margin: 10px;
    text-align: center;
}

.total {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.finCompra{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}
.finCompra:hover{
    background-color: aqua;
}









/* para escritorio */
/* @media only screen and (min-width: 1024px){ */
@media only screen and (min-width: 500px){
    
.contenedorCarrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tarjetasCarrito{
    background-color: sandybrown;
    border: 1px solid black;
}
.tarjetasCarrito p{
    margin-left: 5px;
}

.eliminar{
    background-color: orange;
}

.carrito{
    margin: 10px;
}

.total {
    font-size: 20px;
}
.finCompra{
    background-color: aquamarine;
}
.finCompra:hover{
    background-color: aqua;
}


}