*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: aquamarine;
}

.menu{
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


.menu li{
    display: inline-block;
}
.menu li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0.8rem;

}
.menu li a:hover{
    background-color: orange;
    width: 100vw;
    color: aquamarine;
    text-shadow: 0 0 8px black;
}
.menu li a:hover .navCart{
    text-shadow: none;
}



/* submenu */
.menu{
    margin-left: 0;
}

.menu li ul{
    display: none;
    width: 100px;
    text-align: center;
}
.menu li:hover > ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    color: black;
    margin: 0;
    z-index: 5;
}

.menu li ul li{
    background-color: aquamarine;
    border-collapse:separate;
    height: 50px;
    padding: 0;

}
/* nombre de fantasia */
.fantasia {
    display: block;
    background-color: aquamarine;
    padding: 10px;
    padding-top:14px;
    text-decoration: none;
    text-align: center;
}
.fantasia:hover{
    color: orangered;
}

.navCart .fas:hover{
    color: red;

}


.contadorCarrito{
    background-color: red;
    color: white;
    font-size: 13px;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 14px;
    right: 5px;
}







/* para escritorio */ 
@media only screen and (min-width: 500px){
    .navbar{
        text-decoration: none;
        height: 60px;
    
    }
    .menu{
        list-style: none;
        position: absolute;
        right: .5rem;
        display: flex;
        flex-flow: row wrap;
    }
    .menu li{
        padding: 0;
    }
    .menu li a{
        text-decoration: none;
        color: black;
        display: block;
        padding: 20px;
    
    }
    .menu li a:hover{
        background-color: orange;
        width: 100%;
    }
    
    
    /* submenu */
    .menu{
        margin-left: 0;
    }
    
    .menu li ul{
        display: none;
        position: absolute;
        /* left: 76.5px; */
        top: 60px;
        width: 110px;
    }
    .menu li:hover > ul{
        display: block;
        color: black;
        margin: 0;
        z-index: 5;
        width: 110px;
    }
    
    .menu li ul li{
        background-color: aquamarine;
        border-collapse:separate;
        display: block;
        height: 55px;
        padding: 0;
    
    }
    
    .contadorCarrito{
        background-color: red;
        color: white;
        font-size: 13px;
        width: 15px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        bottom: 35px;
        right: 13px;
    }

    /* nombre de fantasia */
    .fantasia {
        display: inline;
        position: absolute;
        left: 0%;
        margin: 1px;
        background-color: transparent;
        padding: 8px;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .navCart .fas:hover{
        color: red;
    }
    
}


